{% extends 'roslinysite/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles-contact.css' %}">
    {% endblock %}
    <title>Kontakt</title>
</head>
<body>
    {% block content %}
    <div class="contact">
        <h1>Gdzie nas znaleźć?</h1>
        <p>Warszawska 1 / 13</p>
        <p>01-333 Warszawa</p>
        <p>tel. 123 456 789</p>
    </div>
    <div class="contact-form">
        <h1>Napisz do nas</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <div class="form-actions">
            <button type="submit">Wyślij</button>
        </div>
        </form>
    </div>

    <div id="map"></div>
    {% endblock %}
</body>
{% block scripts %}
    <script>
    function myMap() {
        var mapOptions = {
            center: new google.maps.LatLng(52.259325, 20.935294),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    }
    </script>
{% endblock %}
</html>